<div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Tạo danh mục</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/category/addCategory" method="POST" data-toggle="validator">
                            <div class="row">                                                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Danh mục *</label>
                                        <input type="text" name="name" class="form-control" placeholder="Nhập tên danh mục..." required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>  
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Mã danh mục *</label>
                                        <input type="text" name="code"class="form-control" placeholder="Nhập mã danh mục..." required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>                                 
                            </div>                            
                            <button type="submit" class="btn btn-primary mr-2">Tạo danh mục</button>
                            <button type="reset" class="btn btn-danger">Hủy</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>